* {
    /* 初始化 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* 满屏 */
    width: 100vw;
    height: 100vh;
    /* 相对定位 */
    position: relative;
    /* 溢出隐藏 */
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    /* 绝对定位 */
    position: absolute;
    left: 0;
    top: 0;
    /* 添加过渡动画 */
    transition: all 0.3s ease-in-out;
}

.box {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
}

.box:nth-child(1) {
    background-image: url('./img/5.avif');
    background-repeat: no-repeat;
    /* 不重复 */
    background-size: cover;
    /* 覆盖整个元素 */
    background-position: center;
}

.box:nth-child(2) {
    background-image: url('./img/2.avif');
    background-repeat: no-repeat;
    /* 不重复 */
    background-size: cover;
    /* 覆盖整个元素 */
    background-position: center;
}

.box:nth-child(3) {
    background-image: url('./img/7.avif');
    background-repeat: no-repeat;
    /* 不重复 */
    background-size: cover;
    /* 覆盖整个元素 */
    background-position: center;
}

.box:nth-child(4) {
    background-image: url('./img/9.avif');
    background-repeat: no-repeat;
    /* 不重复 */
    background-size: cover;
    /* 覆盖整个元素 */
    background-position: center;
}

.box:nth-child(5) {
    background-image: url('./img/11.avif');
    background-repeat: no-repeat;
    /* 不重复 */
    background-size: cover;
    /* 覆盖整个元素 */
    background-position: center;
}
.box:nth-child(6) {
    background-image: url('./img/1.avif');
    background-repeat: no-repeat;
    /* 不重复 */
    background-size: cover;
    /* 覆盖整个元素 */
    background-position: center;
}
 /* 设置打字机效果的样式 */
 #typewriter {
    font-family: 'Permanent Marker', cursive;
    /* 使用等宽字体 */
    color: rgb(182, 93, 29);
    /* 边框样式 */
    width: 700px;
    /* 宽度 */
    overflow: hidden;
    /* 隐藏溢出的内容 */
    white-space: pre-wrap;
    /* 保留空白符和换行符 */
    padding: 20px;
    /* 内边距 */
    box-sizing: border-box;
    /* 盒模型 */
    font-size: 16px;
    margin-left: -540px;
    margin-top: -100px;
}

/* 加粗文本的样式 */
.bold {
    font-weight: bold;
    font-size: 36px;
    /* 加粗字体 */
}

/* 改变文本颜色的样式 */
.color-change {
    color: rgb(232, 24, 24);
    /* 设置文本颜色为红色 */
    font-size: 18px;
}
#typewriter1 {
    font-family: 'Permanent Marker', cursive;
    /* 使用等宽字体 */
    color: rgb(182, 93, 29);
    /* 边框样式 */
    width: 700px;
    /* 宽度 */
    overflow: hidden;
    /* 隐藏溢出的内容 */
    white-space: pre-wrap;
    /* 保留空白符和换行符 */
    padding: 20px;
    /* 内边距 */
    box-sizing: border-box;
    /* 盒模型 */
    font-size: 16px;
    margin-left: -540px;
    margin-top: -100px;
}

/* 加粗文本的样式 */
.bold1 {
    font-weight: bold;
    font-size: 36px;
    /* 加粗字体 */
}

/* 改变文本颜色的样式 */
.color-change1 {
    color: rgb(232, 24, 24);
    /* 设置文本颜色为红色 */
    font-size: 18px;
}
.substance {
    display: flex;
    position: relative;
    width: 500px;
    height: 600px;
    background-color: rgb(63, 61, 61);
    margin-top: 50px;
    margin-left: -900px;
    opacity: 0.6;
    transition: opacity 1.2s ease-in-out;
   border-radius: 10px;
}
.substance1 {
    display: flex;
    position: relative;
    width: 500px;
    height: 400px;
    background-color: rgb(63, 61, 61);
    margin-top: -150px;
    margin-left: 500px;
    opacity: 0.6;
    transition: opacity 1.2s ease-in-out;
   border-radius: 10px;
}
.substance2 {
    display: flex;
    position: relative;
    width: 500px;
    height: 600px;
    background-color: rgb(63, 61, 61);
    margin-top: 100px;
    margin-left: -200px;
    opacity: 0.6;
    transition: opacity 1.2s ease-in-out;
   border-radius: 10px;
}


.substances {
    position: absolute;
    top: 170px;
    left: 0px;
    height: 450px;
    width: 100%;
    background-color: rgb(63, 61, 61);
    z-index: 999;
}
.substances1 {
    position: absolute;
    top: 170px;
    left: 0px;
    height: 350px;
    width: 100%;
    background-color: rgb(63, 61, 61);
    z-index: 999;
}
.substances2 {
    position: absolute;
    top: 170px;
    left: 0px;
    height: 350px;
    width: 100%;
    background-color: rgb(63, 61, 61);
    z-index: 999;
}

.substances h1 {
    font-size: 26px;
    color: rgb(114, 112, 94);
    text-align: center;
    margin-top: -140px;
}
.substances1 h1 {
    font-size: 26px;
    color: rgb(100, 96, 59);
    text-align: center;
    margin-top: -140px;
}
.substances2 h1 {
    font-size: 26px;
    color: rgb(100, 96, 59);
    text-align: center;
    margin-top: -140px;
}


.substances-size {
    position: absolute;
    top: -100px;
    left: 0px;
    height: 300px;
    width: 500px;
    color: rgb(140, 140, 136);
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 700;
   line-height: 1.6;
}
.substances-size1 {
    position: absolute;
    top: -100px;
    left: 0px;
    height: 300px;
    width: 500px;
    color: rgb(218, 218, 211);
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 700;
   line-height: 1.6;
}